
body {
  background: url(../images/javascript-background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color: white;
  font-size: 26px;
  }
  
  /* main {
    display: flex;
    justify-content: space-betweeen;
  } */
  
  main button {
    padding: 10px;
  }
  
  section {
    display: block;
    border: 1px solid black;
    min-height: 100px;
    margin-bottom: 20px;
    padding: 10px;
  }
  
  .hide {
    display: none;
  }


  li {
    border: 1px lightblue solid;
    width: 15%;
    text-align: center;
    background-color: blue;
    opacity: 75%;
    margin: 10px;
  }

  li:hover {
    opacity: 100%;
    background-color: darkblue;
  }
  
